useDynLib(RcppGSL)

importFrom(utils,assignInNamespace)
export(fastLmPure,
       fastLm,
       fastLm.default,
       fastLm.formula,
       predict.fastLm,
       print.fastLm,
       summary.fastLm,
       print.summary.fastLm)
