useDynLib(RcppGSL)

##exportPattern("^[[:alpha:]]+")
export(fastLmCall,
       fastLm,
       fastLm.default,
       fastLm.formula,
       print.fastLm,
       summary.fastLm,
       print.summary.fastLm)
